# Python virtual environments
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables & secrets
.env
.env.*

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/*.log
!logs/.gitkeep